<div class="card">
  <div class="card-body text-right d-flex justify-content-between align-items-center">
    <div>
      <%= link_to root_path() do%>
        <%= image_tag "concree.png" , height: 50 %>
      <% end %>
    </div>
    <div class="text-warning fs-4">
        DEBRIEFING GLOBAL DE L'ANNEE 2022
    </div>
  </div>
</div>