<%= render "shared/header" %>

<h1 class="text-center my-5">Liste des jeux</h1>

<div class="d-flex align-items-center justify-content-center">
    <div class="w-50">
        <% @games.each do |game| %>

            <div class="card my-4">
                <div class="card-body anchor-block">
                    <h5 class="card-title text-center">
                        <%= link_to game.title, game_path(game.slug), class: "anchor" %>
                    </h5>
                </div>
            </div>

        <% end %>
    </div>
</div>

